<% provide(:title, "Finished CS 232 Ruby on Rails Development") %>
<h1>My Rails Experience</h1>

<p>Learning rails helped me understand some aspects of object oriented programming 
and how it relates to relational data. Having a predefined structure for classes relieves me of the decision of how many classes to
have and how they should be connected. I get the impression that I could be somwhat productive in Rails without fully understanding oop.
Another important consideration is that the details of TCP and HTTP are hidden and that there are many default configurations
for things which would probably take a lot of time to learn about.
On the downside, Programming within the context of something I dont fully understand makes me feel somwhat unstable. 
When learning new concepts I'm often unsure of what is Rails and what is Ruby. Also, without really understanding 
how rails puts together all of my code I feel less equiped to incrementally deduce the source of problems.</p>